root = true

[*.cs]
dotnet_analyzer_diagnostic.category-Style.severity = Warning

tab_width = 4
indent_style = space

csharp_indent_labels = one_less_than_current
csharp_using_directive_placement = outside_namespace
csharp_prefer_simple_using_statement = false
csharp_style_namespace_declarations = block_scoped

[*.cs]
dotnet_diagnostic.IDE0001.severity = none
dotnet_diagnostic.IDE0002.severity = none
dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0032.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0057.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0072.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0290.severity = none
dotnet_diagnostic.IDE0330.severity = none
dotnet_diagnostic.IDE1006.severity = none

dotnet_diagnostic.CA1510.severity = none
dotnet_diagnostic.CA1512.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1836.severity = none
dotnet_diagnostic.CA1845.severity = none
dotnet_diagnostic.CA1846.severity = none
dotnet_diagnostic.CA1859.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.CA2249.severity = none

dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0031.severity = none
dotnet_diagnostic.IDE0045.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0300.severity = none
